* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;            /* Ensure full height for the document */
  margin: 0;               /* Remove default margin applied by the browser */
  padding: 0;              /* Remove default padding */
  overflow-x: hidden;
   /*-webkit-font-smoothing: antialiased; /* Improve font rendering for WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improve font rendering for Firefox on macOS */
}

/* Ensure the body itself does not have any extra height limitations */
body {
  display: flex;           /* Use flexbox to enable better layout control */
  flex-direction: column;  /* Stack elements vertically */
  justify-content: flex-start; /* Align content from the top */
  align-items: stretch;    /* Ensure content stretches across the width */
  overflow-y: auto;        /* Allow vertical scrolling */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
